<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>19/03/25 17:18:06</td>   <td>0</td> <td title="&gt;&gt;BaseTestCase.setup()[pri:0, instance:SSOTestCases.Mlslistings@51565ec2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/03/25 17:18:06</td>   <td>176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mlslistings.mlslistingsLogin()[pri:0, instance:SSOTestCases.Mlslistings@51565ec2]">mlslistingsLogin</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/03/25 17:18:48</td>   <td>42120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestCase.getResult(org.testng.ITestResult)[pri:0, instance:SSOTestCases.Mlslistings@51565ec2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/03/25 17:18:48</td>   <td>42312</td> <td title="&lt;&lt;BaseTestCase.tearDown()[pri:0, instance:SSOTestCases.Mlslistings@51565ec2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
</table>
