<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc63ce">  <td>19/03/20 16:13:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Abor.aborLogin()[pri:0, instance:SSOTestCases.Abor@482f8f11]">aborLogin</td> 
  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/03/20 16:14:30</td>   <td>67873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Armls.armlsLogin()[pri:0, instance:SSOTestCases.Armls@8bd1b6a]">armlsLogin</td> 
  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/03/20 16:14:30</td>   <td>67854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestCase.getResult(org.testng.ITestResult)[pri:0, instance:SSOTestCases.Abor@482f8f11]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/03/20 16:17:41</td>   <td>259318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestCase.getResult(org.testng.ITestResult)[pri:0, instance:SSOTestCases.Armls@8bd1b6a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/03/20 16:13:22</td>   <td>-159</td> <td title="&gt;&gt;BaseTestCase.setup()[pri:0, instance:SSOTestCases.Abor@482f8f11]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/03/20 16:17:41</td>   <td>259483</td> <td title="&lt;&lt;BaseTestCase.tearDown()[pri:0, instance:SSOTestCases.Abor@482f8f11]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
</table>
